<%= render "components/banner"%>
<div id="all-lists-add-list">
<p>All lists (<%= Movie.count %>)</p>
<%= link_to 'Add a list', new_list_path, class: 'btn btn-primary'%>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1756&q=80') %>')">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
