<h1><%= @list.name %></h1>
<div><%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %></div>
<ul>
<% @list.bookmarks.each do |bookmark| %>
  <li>
  <%= bookmark.movie.title %> - <%= bookmark.comment %></li>
  <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
  <i class="fa-solid fa-trash-can"></i>
  <% end %>
<% end %>
</ul>
<%= link_to 'Add movie', new_list_bookmark_path(@list)  %>
